.gridPane {
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.dialog-pane:header .header-panel .label {
    -fx-font-family: "Dialog";
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.label {
    -fx-font-family: "Dialog";
    -fx-font-size: 14;
}

.aboutLabel {
    -fx-font-family: "Dialog";
    -fx-font-size: 28;
    -fx-font-weight: bold;
}
