.menu {
    -fx-font-size: 14;
}

.menu .label {
    -fx-font-size: 14;
}

.cellButton {
    -fx-font-family: Mine-Sweeper;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-padding: 0 0 0 0;
}

.toggle-button:disabled, .toggle-button:disabled > * {
    -fx-opacity: 1.0;
}

.remainingCount {
    -fx-font-weight: bold;
    -fx-font-size: 26;
    -fx-text-fill: red;
    -fx-font-family: 'Neat LCD';
}

.gridPane {
    -fx-hgap: 5;
    -fx-vgap: 5;
}
